* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.searchBox {
  margin: 0 auto;
  border-radius: 5px;
  border: solid;
  height: 40px;
  width: 400px;
  margin-top: 50px;
  font-style: oblique;
  font-weight: bold;
  font-size: large;
  padding: 0 10px;
  border-radius: 10px;
  border-color: rgba(6, 39, 3, 0.24);
  background: #1abc9cb2;
}

.searchBox:hover,
.searchBox:focus {
  background: rgba(169, 169, 169, 0.377);
  outline: none;
}
body {
  background-image: url('/public/background.jpg');
}

button {
  cursor: pointer;
  background: transparent;
  height: 40px;
  width: 50px;
  border-radius: 10px;
  background: #1abc9cb2;
}

button:focus {
  outline: none;
}

.header {
  padding: 60px 60px 0 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.icons {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.icons i:hover {
  cursor: pointer;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
